@import "tailwindcss";
@import "../styles/animations.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

.ibm-font {
  font-family: var(--font-ibm-plex-sans);
}
.inter-font {
  font-family: var(--font-inter);
}
.geist-font {
  font-family: var(--font-geist);
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
